DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/meowtetr"
JWT_SECRET="your-256-bit-secret-here"
JWT_REFRESH_SECRET="your-refresh-secret-here"
FRONTEND_URL="http://localhost:3000"
PORT=4000